<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html ng-app="ColorCombinatorApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" media="screen">
		<link rel="stylesheet" href="stylesheets/bootstrap.css" media="screen">
		<link rel="stylesheet" href="stylesheets/toastr.css">
		<link rel="stylesheet" href="stylesheets/pygment_trac.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/script.js"></script>
		<script type="text/javascript" src="javascripts/spin.js"></script>
		<script type="text/javascript" src="javascripts/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="javascripts/toastr.js"></script>
		<script type="text/javascript" src="javascripts/angular.js"></script>
		<script type="text/javascript" src="javascripts/angular-sanitize.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
		<title>ColorCombinator</title>
		<meta name="description" content="This project is about showing all possible color combinations.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body style="background: #D1D1D1" ng-controller="ColorCombinatorController">
		<div class="wrapper">
			<div class="row">
				<h1 class="title"><span class="comibinedElementsSpan">C</span>olor<span class="comibinedElementsSpan">C</span>ombinator 1.2</h1>
			</div>
			<div class="row">
				<div class="col-xs-1 col-md-3"></div>
				<div class="col-xs-10 col-md-6">
					<div id="container">
						<p class="tagline">	Mit diesem Farbgenerator soll gezeigt werden, welche Kombinationen aus einer angegebenen Menge an Elementen gebildet werden könne.
											Dabei sollte darauf geachtet werden, dass ohne Wiederholungen der angegebene Wert maximal 7 ist, mit Widerholungen der angegebene
											Wert maximal 5 ist, da die Berechnung für mehr Elemente sehr lange dauern kann. Bei den erstellten Kombinationen ist in diesem 
											Fall die Reihenfolge wichtig. Es ist außerdem möglich zu entscheiden ob Wiederholungen
											ausgegeben werden oder nicht. <br>
											<br>
											Die Formeln zur Berechnung der Kombinationen von 5 Elementen <strong>OHNE</strong> Widerholung: <br>
											<code> 5! = 5 * 4 * 3 * 2 * 1 = 120 </code> <br>
											Die Formeln zur Berechnung der Kombinationen von 5 Elementen <strong>MIT</strong> Widerholung: <br>
											<code> 5<sup>5</sup> = 5 * 5 * 5 * 5 * 5 = 3125 </code> <br>
						</p>
						<div id="main" role="main">
							<div class="download-bar">
								<div class="inner">
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="inputElementsCount" class="col-sm-3 control-label comibinedElementsSpan">Anzahl der Elemente: </label>
													<div class="col-sm-9">
														<input type="text" id="inputElementsCount" class="form-control" ng-model="elementsCount" placeholder="Anzahl der Elemente">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="row">
											<div class="col-md-7">
												<button type="button" class="btn btn-success" ng-click="combineColors(false)">Kombinationen</button>
											</div>
											<div class="col-md-5">
												<button type="button" class="btn btn-success" ng-click="combineColors(true)">Kombinationen mit Wiederholungen</button>
											</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<span class="comibinedElementsSpan">
												Anzahl der erzeugten Elemente: {{combinationCounter}}
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-1 col-md-3"></div>
								<div id="loading" class="col-xs-10 col-md-6" ng-show="showLoading">Lade</div>
								<div id="content" class="col-xs-10 col-md-6" ng-hide="showLoading">
									<div ng-repeat="element in elements">
										<div ng-bind-html="element.context"></div>
									</div>
								</div>
								<div class="col-xs-1 col-md-3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-md-3"></div>
			</div>		
			<div class="row">
				<div class="col-xs-1 col-md-3"></div>
				<div class="col-xs-10 col-md-6">
					<footer>
						<div class="owner">
							<p><a href="https://github.com/StefanKert" class="avatar"><img src="https://avatars0.githubusercontent.com/u/7176615?v=2&amp;s=60" width="48" height="48"></a> <a href="https://github.com/StefanKert" class="greenLink">StefanKert</a> maintains <a href="https://github.com/StefanKert/ColorCombinator" class="greenLink">ColorCombinator</a></p>
						</div>
					</footer>
				</div>
				<div class="col-xs-1 col-md-3"></div>
			</div>
		</div>
	</body>
</html>
